# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Private / Local testing backups & keys (NEVER uploaded to GitHub)
local_test_data/
*.crypt15
*.crypt14
*.crypt12
*.key
msgstore*.db
